<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eulenmühle - Pferdeschutzverein PRO EQUIS e.V.</title>
    <link rel="stylesheet" href="/css/dist/style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/ico/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/ico/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/ico/favicon-16x16.png" />
    <link rel="manifest" href="/img/ico/site.webmanifest" />
  </head>
  <body id="home">
    <div id="content">
      <header>
        <div class="logo-and-menu-wrapper">
          <a class="eulenmuehle-link" href="https://www.eulenmuehle.de/">
            <div class="eulenmuehle-logo">
              <img src="/img/eulenmuehle-logo.svg" class="logo" /><img
                src="/img/eulenmuehle-tag.svg"
                class="tag" />
            </div>
          </a>
          <div class="menu-wrapper">
            <ul>
              <li>
                <a href="https://www.eulenmuehle-proequis.de/kontakt/"
                  >Kontakt</a
                >
              </li>
              <li><a href="/legal">Impressum</a></li>
            </ul>
          </div>
        </div>
      </header>

      <main>
        <!-- Image and Form Wrapper -->
        <div class="headline-and-content">
          <div class="headline">
            <h1>Spende an <span>PRO EQUIS e.V.</span></h1>
            <span class="headline-description"
              >Ein Bild mit 1 Millionen Pixel – jeder Euro deckt einen Pixel
              auf. Ihr Beitrag gewährleistet das Fortbestehen unserer Arbeit.
              Vielen Dank für Ihre Spende.</span
            >
          </div>

          <!-- Progress Bar -->
          <div class="progress-bar-wrapper">
            <div class="counter-wrapper">
              <span><div class="counter"></div> </span
              ><span class="counter-label">Aufgedeckte Pixel</span>
              <span>1.000.000</span>
            </div>
            <div class="meter">
              <span style="width: 0"></span>
            </div>
          </div>

          <div class="canvas-and-donation-form">
            <!-- Canvas Wrapper -->
            <div class="image-and-donor-list-wrapper">
              <!-- Canvas -->
              <canvas id="imageCanvas" width="1191" height="838"></canvas>
            </div>

            <aside class="equis-logo-and-form">
              <!-- PRO EQUIS Logo -->
              <div class="pro-equis-logo">
                <img src="/img/pro-equis-logo.svg" /><span
                  ><span>Pferdeschutzverein</span>PRO EQUIS e.V.</span
                >
              </div>

              <!-- Donation Form Wrapper -->
              <div class="form-wrapper">
                <!-- Donation Form -->
                <form id="donationForm" method="post" action="/donate">
                  <!-- Amount -->
                  <div class="amount-wrapper">
                    <input
                      type="radio"
                      id="option-hundred"
                      name="amountSelect"
                      value="100" />
                    <label class="amount hundred" for="option-hundred"
                      >€100</label
                    >

                    <input
                      type="radio"
                      id="option-fifty"
                      name="amountSelect"
                      value="50" />
                    <label class="amount fifty" for="option-fifty">€50</label>

                    <input
                      type="radio"
                      id="option-twentyfive"
                      name="amountSelect"
                      value="25" />
                    <label class="amount twentyfive" for="option-twentyfive"
                      >€25</label
                    >
                  </div>

                  <span class="choice">Oder eigener Betrag:</span>

                  <div class="donation-and-amount-field-wrapper">
                    <!-- Donation Amount Field -->
                    <div class="donation-field-wrapper">
                      <span>€</span>
                      <input
                        type="number"
                        name="amount"
                        id="donationAmountField"
                        placeholder="0"
                        min="1"
                        required />
                    </div>

                    <!-- Name Field -->
                    <div>
                      <input
                        type="text"
                        name="name"
                        id="donorName"
                        placeholder="Ihr Name"
                        maxlength="47"
                        required />
                    </div>
                  </div>
                  <span class="description"
                    ><span class="info"></span>Ihr Name erscheint in der
                    Spendenliste.</span
                  >

                  <!-- Payment Methods -->
                  <div class="payment-method-wrapper">
                    <input
                      type="radio"
                      name="paymentMethod"
                      value="paypal"
                      id="paypalButton"
                      required />
                    <label for="paypalButton"
                      ><img src="/img/paypal.svg" alt="" />
                    </label>

                    <input
                      type="radio"
                      name="paymentMethod"
                      value="stripe"
                      id="stripeButton" />
                    <label for="stripeButton">
                      <div>
                        <img src="/img/visa.svg" alt="" /><img
                          src="/img/mastercard.svg"
                          alt="" />
                      </div>
                    </label>
                  </div>

                  <!-- Newsletter Checkbox -->
                  <label class="checkbox-container"
                    >Ich möchte den Newsletter der Eulenmühle abonnieren.
                    <input
                      class="newsletter-checkbox"
                      type="checkbox"
                      name="newsletter" />
                    <span class="checkmark"></span>
                  </label>

                  <!-- Hidden E-Mail Field -->
                  <div class="email-field-wrapper">
                    <input
                      type="email"
                      name="email"
                      id="emailField"
                      placeholder="Ihre E-Mail-Adresse" />
                  </div>

                  <!-- Submit Button -->
                  <button type="submit">Jetzt spenden</button>
                </form>
              </div>
            </aside>
          </div>

          <div class="donor-list-and-spacer">
            <!-- Donor List -->
            <div id="donor-list">
              <h3 class="donor-list-headline">
                Liste aller Spenden (<%= numberOfOrders %>) <% if
                (numberOfOrders === 0) { %>
                <span class="no-donations"
                  >Noch keine Spenden. Seien Sie der/die Erste!</span
                >
                <% } else { %>
                <div class="donor-list-total-amount">
                  Gesamtsumme:
                  <span>€<%= totalDonations.toLocaleString('de-DE') %></span>
                </div>
                <% } %>
              </h3>
              <% if (numberOfOrders === 0) { %>
              <table class="donor-table">
                <tbody>
                  <tr class="donor-and-donation-amount-wrapper">
                    <td class="donor-list-donor">
                      <div class="donor">
                        <span class="donor-icon"></span>
                        <span class="donor-name"
                          >Hier könnte Ihr Name stehen</span
                        >
                      </div>
                    </td>
                    <td class="donor-list-amount">€250</td>
                    <td class="donor-list-date">Heute</td>
                  </tr>
                </tbody>
              </table>

              <% } else { %>

              <table class="donor-table">
                <tbody>
                  <% orders.forEach(function(order) { %>
                  <tr class="donor-and-donation-amount-wrapper">
                    <td class="donor-list-donor">
                      <div class="donor">
                        <span class="donor-icon"></span>
                        <span class="donor-name"><%= order.name %></span>
                      </div>
                    </td>
                    <td class="donor-list-amount">
                      €<%= order.formattedAmount %>
                    </td>
                    <td class="donor-list-date"><%= order.relativeDate %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <% } %>
            </div>

            <div class="spacer">&nbsp;</div>
          </div>
        </div>
      </main>
    </div>

    <canvas id="offscreenCanvas" width="1191" height="838"></canvas>

    <script>
      window.pixelsRevealed = '<%= cappedPixelsToReveal %>'; // Make donation amount from database globally available
    </script>

    <script src="/js/progressBar.js"></script>
    <script src="/js/revealPixels.js"></script>
    <script src="/js/handleDonationForm.js"></script>
  </body>
</html>
